<form class="{{ formClass }}">
	{{{ avatar }}}
	<h1 class="{{ titleClass }}">{{ title }}</h1>
	{{{ inputs }}}
	<div class="form__errorMsg form__errorMsg__last">{{ errorMsg }}</div>
	{{{ button }}}
	{{{ link }}}
</form>
