<div class="line {{class1}}">
	<div class="line__key {{class2}}">{{field}}</div>
	<input type="{{type}}" name="{{name}}" class="form__input {{class3}}" placeholder="{{placeholder}}" value="{{value}}">
</div>